node_modules
dist
dist-ssr
*.local
.env
.env.local
.env.*.local
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
functions/lib
functions/node_modules
.firebase
firebase-debug.log
firestore-debug.log
ui-debug.log
coverage
vite.log
vite-error.log
*.log
